<head>
  <meta charset="utf-8" />
  <!-- <title>Log In | Delicio - Responsive Admin Dashboard Template</title> -->
  <title>Delicio - Responsive Admin Dashboard Template</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
  <meta content="Coderthemes" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="../assets/images/favicon.ico">
  
 <link src="/plugins/toastr/toastr.min.css"  type="text/css">
 <!-- Plugins css -->
  <link href="/dist/assets/libs/flatpickr/flatpickr.min.css" rel="stylesheet" type="text/css" />
  <link href="/dist/assets/libs/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css" />
        <link href="/dist/assets/libs/clockpicker/bootstrap-clockpicker.min.css" rel="stylesheet" type="text/css" />
   <link href="/dist/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
  <link href="/dist/assets/libs/selectize/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css" />
  <!-- third party css -->
  <link href="/dist/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link href="/dist/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link href="/dist/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
  <link href="/dist/assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css" rel="stylesheet" type="text/css" />

 <!-- App css -->
 <link href="/dist/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
 <link href="/dist/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

 <link href="/dist/assets/css/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
 <link href="/dist/assets/css/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />
 <!-- icons -->
 <link href="/dist/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

 <link href="/dist/assets/css/app.css" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" href="/plugins/toastr/toastr.min.css" type="text/css">
 <link href="/dist/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
  <link href="/dist/assets/libs/summernote/summernote-bs4.min.css" rel="stylesheet" type="text/css" />
  <link href="/dist/assets/css/intlTelInput.min.css" rel="stylesheet" type="text/css" />
  <link href="/dist/assets/css/intlTelInput.css" rel="stylesheet" type="text/css" />

<style>
   label.error{
  color:#FC8990;
  font-size: 13px;
  margin-top:2px;
  margin-left:3px;
   }
</style>
</head>


