<div class="row">
    <div class="col-md-12" style="margin-top:10%!important">

       
        <div class="center-div">
                <img src="/assets/images/norecord.png"  width="150" height="100"  />
                <div class="pad25T  font-size-16">
              No Content found for this page      
                          </div>

        </div>

    </div>
    
</div>