<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header'); -%>


    <body class="loading auth-fluid-pages pb-0">

        <div class="auth-fluid">
            <!--Auth fluid left content -->
            <div class="auth-fluid-form-box">
                <div class="align-items-center d-flex h-100">
                    <div class="card-body">

                        <!-- Logo -->
                        <div class="auth-brand text-center text-lg-left">
                            <div class="auth-logo">
                                <a href="<%-adminpath%>" class="logo logo-dark text-center">
                                    <span class="logo-lg">
                                        <!-- <img src="/dist/assets/images/logo-sm.png" alt="" height="20"> -->
                                         <h4 style="margin-top: 10%;">Delicio Food</h4>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="text-center">
                            <div class="mt-4">
                                <div class="logout-checkmark">
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                                        <circle class="path circle" fill="none" stroke="#4bd396" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                                        <polyline class="path check" fill="none" stroke="#4bd396" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
                                    </svg>
                                </div>
                            </div>

                            <h3>See you again !</h3>

                            <p class="text-muted"> You are now successfully sign out. </p>
                        </div>

                        <!-- Footer-->
                        <footer class="footer footer-alt">
                            <p class="text-muted">Back to <a href="<%-superadminpath%>login" class="text-muted ml-1"><b>Sign In</b></a></p>
                        </footer>

                    </div> <!-- end .card-body -->
                </div> <!-- end .align-items-center.d-flex.h-100-->
            </div>
            <!-- end auth-fluid-form-box-->

            <!-- Auth fluid right content -->
            <div class="auth-fluid-right text-center">
                <div class="auth-user-testimonial">
                    <h2 class="mb-3 text-white">I love the Food!</h2>
                    <p class="lead"><i class="mdi mdi-format-quote-open"></i> Vegetables are a must on a diet. I suggest carrot cake, zucchini bread, and pumpkin pie <i class="mdi mdi-format-quote-close"></i>
                    </p>
                    <h5 class="text-white">
                        - Saira (Delicio Admin User)
                    </h5>
                </div> <!-- end auth-user-testimonial-->
            </div>
            <!-- end Auth fluid right content -->
        </div>
        <!-- end auth-fluid-->

        <%- include('../partials/script'); -%>

    </body>
</html>