<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2015 - <script>document.write(new Date().getFullYear())</script> &copy; Delicio theme by <a href="">Cerebrum</a> 
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="https://www.cerebruminfotech.com/#presence">About Us</a>
                    <a href="https://www.cerebruminfotech.com/our-products.html">Help</a>
                    <a href="https://www.cerebruminfotech.com/#contactUs">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</footer>